
<blockquote class="layui-elem-quote">Change Password</blockquote>
<div style="padding:10px;">
    <form class="layui-form" method="post" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">Old Password</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="password" name="oldpwd" id="oldpwd" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">New Password</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="password" name="newpwd" id="newpwd" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Type new password again</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="password" name="newpwd2" id="newpwd2" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="submit" onclick="return checkform()">Change Password</button>
                @Html.AntiForgeryToken()
            </div>
        </div>
    </form>
</div>
<script>
    function checkform() {

        var oldpwd = document.getElementById('oldpwd').value;
        var newpwd = document.getElementById('newpwd').value;
        var newpwd2 = document.getElementById('newpwd2').value;

        if (oldpwd == '' || newpwd == '' || newpwd2 == '') {
            alert("Fill all the blank！");
            return false;
        }

        if (newpwd != newpwd2) {
            alert("the new passwords are not the same！");
            return false;
        }

        return true;

    }
</script>